// @each dir

// $list: (normal, bold, italic);
// @each $i in $list{
//   .#{$i}{
//     font-weight: $i;
//   }
// }


// multipal values

// $list: ((normal, bold, 10px),(emphasis, italic, 15px));
// @each $name, $style, $size in $list{
//   .#{$name}{
//     font-weight: $style;
//     font-size: $size;
//   }
// }


// use map()

$map: (normal: 12px, bold: 13px, italic: 14px);
@each $i, $f-size in $map{
  .#{$i}{
    font-weight: $i;
    font-size: $f-size;
  }
}
